@function rem($px){
    @return $px * 2 / 100 + rem;
}
@mixin scroll ($bgColor,$blockColor,$size:3px,$BottomBgColor:rgba(240, 240, 240, 0.5)){
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: #{$size} !important; /*高宽分别对应横竖滚动条的尺寸*/
        height: 6px !important;
        background: transparent !important;
        cursor: pointer !important;
    }

    &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: #{$size} !important;
        // -webkit-box-shadow: inset 0 0 5px rgba(240, 240, 240, 0.5) !important;
        background: #{$blockColor} !important;
        cursor: pointer !important;
    }

    &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px #{$BottomBgColor} !important;
        border-radius: #{$size} !important;
        background: #{$bgColor} !important;
        cursor: pointer !important;
    }
}